.title-page {
    padding: 0px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: #3C3C3B;
    font-size:  40px;
    font-style: normal;
    font-weight: 300;
    margin-right: 500px;

}